@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-lavender: #d6b4e7;
  --color-warmwhite: #faf9f6;
  --color-nude: #eaddc8;
  --color-coolgrey: #a9a9a9;
  --color-blushpink: #fadadd;
  --color-dustedrose: #d8a7b1;
  --color-deepgrey: #333333;
  --color-softlavender: #b9aedc;
  --color-lightlavender: #eee3f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
