@import "tailwindcss";

:root {
  --background: #faf9f6;
  --foreground: #171717;
}
@theme {
  --color-lavender: #d6b4e7;
  --color-warmwhite: #faf9f6;
  --color-nude: #eaddc8;
  --color-coolgrey: #a9a9a9;
  --color-blushpink: #fadadd;
  --color-dustedrose: #d8a7b1;
  --color-deepgrey: #333333;
  --color-softlavender: #b9aedc;
  --color-lightlavender: #eee3f3;
  --color-lavenderhighlight: #a48db7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("color-slate-700");
    border-right-color: theme("color-slate-300");
    animation: rotate 1s infinite linear;
  }
  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
